packages:
  yum:
    jq: []
    java-1.8.0-openjdk: []


files:
  "/home/ec2-user/local.sh":
    group: root
    mode: "000755"
    owner: root
    content: |
        #!/bin/bash
        echo "hello world" >> hello.txt

groups:
  administrators: {}
  read_only: {}
  group1: {}
  group2: {}

users:
  vasya: {}
  kolya: {}

commands:
  create_httpd_dir:
    command: "mkdir -p /home/ec2-user/httpd"

container_commands:
  copy_myfile:
    command: "cp .ebextensions/httpd/* /home/ec2-user/httpd/"

services:
  sysvinit:
    nfs:
      enabled: "true"
      ensureRunning: "true"

